extends layout
block content
    .container.reset-form
        form(action = "/newPassword", method = "POST")
            label Current Password
            .form-group.pass_show
                    input.form-control(type='password' placeholder='Current Password' name='currentPassword')
            label New Password
            .form-group.pass_show
                    input.form-control(type='password' placeholder='New Password' name='newPassword')
            label Confirm Password
            .form-group.pass_show
                input.form-control(type='password' placeholder='Confirm Password' name='confirmPassword')
            button.btn.btn-primary.btn-block(type='submit' value=data name='randomstring') Reset Password
